._card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

._card {
    position: relative;
    display: flex;
/*    flex-direction: column;*/
/*    min-width: 0;*/
    align-items:center;
    justify-content:center;
    width:75%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    text-align:center
}

._card-body {
/*    width:100%;*/
    padding: 3rem;
    width:250%;
}
.edit {
    display: flex;
    flex-direction: column;
}
.buttons{
    width:170%;
    align-self:center;
 
}