@page
@model WebApplication1.Pages.ChangePasswordModel
@{
}

<div class="container" mt-5>
    <div class="row justify-content-center align-items-center">

        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Change Password</h1>
            <form method="post">
                <div class="mb-3">
                    <label class="form-label" asp-for="Model.CurrentPassword">Current Password</label>
                    <input type="password" asp-for="Model.CurrentPassword" class="form-control" />
                    <span asp-validation-for="Model.CurrentPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Model.NewPassword">New Password</label>
                    <input type="password" asp-for="Model.NewPassword" class="form-control" />
                    <span asp-validation-for="Model.NewPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Model.ConfirmPassword">Confirm Password</label>
                    <input type="password" asp-for="Model.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Model.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>