@page
@model WebApplication1.Pages.ProfilePictureModel
@{
}

<form method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label class="form-label" asp-for="Model.ProfilePicture">upload pic</label>
        @if (Model.pic == null)
        {
            <img src="~/img/default_pic.png" alt="profile pic" />
        }
        else
        {
            <img id="profilePicture" alt="profile" src="data:image/*;base64,@(Convert.ToBase64String(Model.pic))" />

        }
        <input type="file" accept="image/*" asp-for="Model.ProfilePicture" class="form-control" />
        <span asp-validation-for="Model.ProfilePicture" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Change picture</button>
    </div>
</form>